.cspAdminTemplateImgPrev {
    max-width: 216px;
}
.cspAdminTemplateShell {
    float: left;
    padding: 19px;
}
#cspAdminTemplatesSelection {
    display: none;
}

/* Tabs style */
#bupAdminOptionsTabs { position:relative; z-index:1; margin-top:20px;padding:0;}    
    #bupAdminOptionsTabs h1 {margin-left:10px; color:#5c5c5c; text-shadow: 0 -1px 0 #fff;} 
    #bupAdminOptionsTabs .ui-tabs-panel { padding:15px; min-height:113px; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; border-left:1px solid #d8d8d8; -webkit-border-radius: 0; border-radius: 0;background:#FCFCFC;}   
    #bupAdminOptionsTabs .ui-tabs-nav {padding:0; width:167px; border:none; border-top:1px solid #d8d8d8; -webkit-border-radius: 0; border-radius: 0; background:none;}    
    #bupAdminOptionsTabs .ui-tabs-nav li { top:0; box-sizing: border-box; margin:0; padding:0; width:100%; border-top:none; border-right:0; border-bottom: 1px solid #d8d8d8 !important; border-left:none;-webkit-border-radius: 0; border-radius: 0; background:#f1f1f1;-moz-box-shadow: inset 0 1px 0 #f9f9f9; -webkit-box-shadow: inset 0 1px 0 #f9f9f9; box-shadow: inset 0 1px 0 #f9f9f9;}
    #bupAdminOptionsTabs .ui-tabs-nav li.ui-tabs-active { width:168px;background:#FCFCFC;}
    #bupAdminOptionsTabs .ui-tabs-nav li.ui-tabs-active a {color:#5c5c5c !important; opacity:1;}
    #bupAdminOptionsTabs .ui-tabs-nav li a {padding:10px 10px 10px 40px; width:121px; color:#555; font-weight:bold; font-size:12px; opacity:0.5; box-sizing: border-box;}
    #bupAdminOptionsTabs .ui-tabs-nav li a:hover {color:#ff7800; opacity:1;}
    #bupAdminOptionsTabs .ui-tabs-nav li.ui-tabs-selected { margin:0;padding-right:1px; background:#FCFCFC;}
    #bupAdminOptionsTabs .ui-tabs-nav li.ui-tabs-selected a {opacity:1;}
 
    .bupMainOptions a {background:url(img/main-icon.png) 12px 9px no-repeat; font-size:16px !important; }
    .cspPresetTemplates a {background:url(img/template-icon.png) 12px 9px no-repeat;}    
    .bupTemplateOptions a {background:url(img/design-icon.png) 12px 9px no-repeat;}    
    .cspSubscribeOptions a {background:url(img/mail-icon.png) 12px 9px no-repeat;}
    .cspSocIcons a {background:url(img/social-icon.png) 12px 9px no-repeat;}
    .cspMetaIcons a {background:url(img/meta-icon.png) 12px 9px no-repeat;}
	.bupScheduleOptions a {background:url(img/schedule-icon.png) 12px 9px no-repeat;}
	.bupStorageOptions a {background:url(img/storage-icon.png) 12px 9px no-repeat;}
	.bupLogOptions a {background:url(img/log-icon.png) 12px 9px no-repeat;}
	.bupDropboxOptions a {background:url(img/dropbox-icon.png) 12px 9px no-repeat;}
	.bupGdriveOptions a {background:url(img/gdrive-icon.png) 12px 9px no-repeat;}
	.bupAmazonS3Options a {background:url(img/amazon-icon.png) 12px 9px no-repeat;}
	.bupEmailOptions a {background:url(img/mail-icon.png) 12px 9px no-repeat;}
	.bupOneDriveOptions a {background:url(img/onedrive-icon.png) 12px 9px no-repeat;}
	
	span.bupAIP, p.bupAIP {
		margin: 0;
		font-size: xx-small;
	}
/* Tabs content style */
.cspNiceStyle { }
    #bupAdminOptionsTabs table { border:0 !important;cell-padding:0 !important; cell-spacing:0 !important;}
    .cspNiceStyle table tr:hover {background:none;}
    .cspNiceStyle table tr td {padding:5px;}
    
    .cspHeadCells { }
        .cspHeadCells td { }
            .cspHeadCells td .ui-button-text-only {width:100%;}
            #bupAdminOptionsTabs .ui-button-text-only.ui-state-active { border:1px solid #1878ee;background:#0185cc url(img/button-bg.png) repeat-x !important; color:#fff; text-shadow:0 1px 0 #5e5cab;}
            #bupAdminOptionsTabs .ui-button-text-only.csp-sub-button { border:1px solid #1878ee;background:#0185cc url(img/sub-button-bg.png) repeat-x !important; color:#fff; text-shadow:0 1px 0 #5e5cab;}
            .cspBodyCells td { padding:10px; border:1px solid #e7e7e7; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;background:#fff !important;}
            
    .cspLeftCol { float:left;width:50%;}        
    .cspRightCol { float:right;width:50%;}   
    
    .cspBgImgShowTypeWrapper label span {padding:5px !important;}
    
    #cspOptBgImgPrev {padding:3px; -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);}
    
    .cspTip {position:relative; margin:15px 0; padding:5px; -webkit-border-radius: 5px; border-radius: 5px; background:#dedede;}
        .cspTipCorner { position:absolute;display:block; width:14px; height:14px; background:url(img/tip-corner.png) no-repeat;}
        .cspTipArrowUp .cspTipCorner {top:-7px; left:50%; margin-left:-7px;}
        .cspTipArrowDown .cspTipCorner {bottom:-7px; left:50%; margin-left:-7px;}
        .cspTipArrowLeft .cspTipCorner {top:50%; left:-7px; margin-top:-7px;}
        .cspTipArrowRight .cspTipCorner {top:50%; right:-7px; margin-top:-7px;}
        
    #bupAdminOptionsTabs textarea {min-height:100px;}   
    #bupAdminOptionsTabs select { margin-top:0;width:100%;}   
    #bupAdminOptionsTabs h4.cspTitle { padding-left:20px;background:url(img/title.png) left center no-repeat; color:#5c5c5c; font-size:18px;}   
    #cspAdminSocOptionsForm h4.cspTitle {margin:0 0 10px 0;}
    #bupAdminOptionsTabs input[type="text"], #bupAdminOptionsTabs textarea {  display: block;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  margin: 0 0 1em 0;  padding: 0.5em;  width: 100%;  height: 2.3125em;  border: 1px solid #cccccc;  background-color: white;  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);  color: rgba(0, 0, 0, 0.75);  font-size: 0.875em;  font-family: inherit;  -o-transition: all 0.15s linear;  -webkit-transition: all 0.15s linear;  -moz-transition: all 0.15s linear;  transition: all 0.15s linear; }
    #bupAdminOptionsTabs input[type="text"]:focus, #bupAdminOptionsTabs textarea:focus { outline: none; border-color: #999999;background: #fafafa; }
    #bupAdminOptionsTabs input[type="text"][disabled], #bupAdminOptionsTabs textarea[disabled] { background-color: #dddddd; }
    .withCspOptTip input, .withCspOptTip select { float:left;width:90% !important;}
    
    .toplevel_page_coming_soon-modules-adminmenu-views-adminmenu .ui-dialog-titlebar { border:1px solid #1878ee;background:#0185cc url(img/button-bg.png) repeat-x !important; color:#fff; text-shadow:0 1px 0 #5e5cab;}
        .cspAdminTemplateShell img {padding:3px; -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);}
        .cspAdminTemplateShellSelected img { background:#009900;}
        
label, span, input, button {
    -webkit-transition: background 400ms ease;
    -moz-transition: background 400ms ease;
    -ms-transition: background 400ms ease;
    -o-transition: background 400ms ease;
    transition: background 400ms ease;
}
label, span, input, button {
    -webkit-transition: border-color 200ms ease;
    -moz-transition: border-color 200ms ease;
    -ms-transition: border-color 200ms ease;
    -o-transition: border-color 200ms ease;
    transition: border-color 200ms ease;
}
.clearfix { float:none;clear:both;}
.nomargin {margin:0 !important;}
.cspOptTip, .cspOptTip span {border:none !important;}

.cspAdminTemplateSelectedName {float:right; line-height:24px;}
.cspSetTemplateOptionButton { width:100%;font-weight:bold;}
.bupWrap, #dashboard-widgets .meta-box-sortables, .ui-buttonset {margin:0 !important;}
.rightText {text-align:right;}
.cspLeftCol input[type="checkbox"] { margin-top:11px !important;width:25px !important;}
.inside input[type="checkbox"] {margin:5px 5px 0 0;}
.accessDelElement { margin:0px 0px 5px 5px; }
.accessDelElement a{ text-decoration: none; border-bottom: 1px dashed #000080;  }
.backupBlock { margin-bottom: 25px; }
.bupCheckbox { margin:0px 0px 0px 0px !important; display:block; position:relative;}

#bupSystemInfo{ display:none; width:150px; text-align:left; border:1px dashed #00F; padding: 8px 15px;}

#bup_a_maininfo{ margin:0px 0px 0px 5px; }
#bupInfoBlock{ display:none; background:#F3F3F3; border:1px dashed #000; margin:10px 0px 0px 0px; padding:8px 4px; }
#iBackupBlock{ margin:0px 0px 0px 10px;}
#bupInfo, #bupInfo p { display: inline-block; }

#bup_a_loginfo{ margin:0px 0px 0px 5px; }
#bupLogBlock{ display:block; background:#F3F3F3; border:1px dashed #000; margin:10px 0px 0px 0px; padding:8px 4px; }
#lBackupBlock{ margin:0px 0px 0px 10px;}

.excludeOpt{ margin:0px 0px 0px 4px; }
.excludeInput, .input-regular { width:250px !important; display:inline !important; }

.bupSecretKeyForCryptDB {width: 100%}

.log_scroll{ width:500px; padding:5px 3px; }
.logBlock{ text-align:left; width:900px; }

.bup_a_Send_to{ padding:0px 20px 0px 0px; }
.bup_a_Send_to a{ text-decoration:none; }
.bup_Send_to{ padding:0px 20px 0px 0px; display:none; }


.delBackupDrBx{ background:url(img/delbup.png) no-repeat; width:16px; height:16px; display:block; float:right; margin:2px 3px 0px 0px; }

.delBackup{ background:url(img/delbup.png) no-repeat; width:16px; height:16px; display:block; float:right; margin:2px 0px 0px 5px; }

.DpDx_Main_Auth input{ width:200px !important; }
.resetDrBx{ margin:0px 0px 0px 4px;}
.resetDrBx a{ color:#00F !important; }
.bupScheluleFieldset{ margin:10px 0px 0px 0px; padding:0px 0px 7px 10px; border:1px solid #000; }
.paddingSchedule{ margin:0px 0px 0px 10px;}
#bupScheduleTime{ width:30px !important; margin:1px 0px 0px 0px !important; }
.bupScheduleCheckbox{ margin:3px 0px 0px 0px !important; }
.disableScheduleFieldset{ border:1px solid #CCC !important; color:#CCC; }
/*.disableScheduleFieldset legend{ color:#CCC; }*/
.disableScheduleCheckbox{ }
.disableScheduleText{}
.bupScheduleEnableCheckbox{ margin-bottom: 3px !important; }

.bupWarningRed{ color:#C00; }
.bupBlueLink{ color:#0000FF !important; }
.bupAdminFooterShell{ color: #777777; font-size: 12px; margin: 0 20px 0 165px; padding-bottom: 45px; border-top: 1px solid #DFDFDF; color: #777777; font-size: 12px; height: 65px;}
.bupAdminFooterCell{ float: left; margin-right: 5px; padding-top: 8px; }
.bupOptDest{ font-style:italic; text-decoration:none; }
.bupApplyNow{ color:#09F !important; }
.bupMargDest{ margin:0px 0px 12px 0px; }
.bupMsgDest{ margin:0px 0px 8px 0px; }

div.supsystic-item div.toeBupOptResponsive {
	display: inline-block; width: 33%; vertical-align: top !important; padding-right: 2%; min-width: 300px;
}

/* =Media Queries
-------------------------------------------------------------- */

@media screen and (min-width:100px) and (max-width:920px) {
	div.supsystic-item div.toeBupOptResponsive {
		display: block; width: 100%; max-width: 400px;
	}
}

@media screen and (max-width: 782px) {
	div.supsystic-item div.toeBupOptResponsive .form-table td, .form-table th {
		display: table-cell;  max-width: 400px;
	}
}